@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Manrope', sans-serif;
  }

  strong {
    font-weight: 600;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}

.appearing {
  opacity: 0;
  /* transform: translateX(-20px); */
  transition: all 0.5s ease-in-out;
}

.appearing[data-is-visible="true"] {
  opacity: 1;
  /* transform: translateX(0); */
}

.left-appearing {
  opacity: 0;
  /* transform: translateX(-20px); */
  transition: all 0.5s ease-in-out;
}

.left-appearing[data-is-visible="true"] {
  opacity: 1;
  /* transform: translateX(0); */
}

.appearing-turn-1 { transition-delay: 0s; }
.appearing-turn-2 { transition-delay: 0.125s; }
.appearing-turn-3 { transition-delay: 0.25s; }
.appearing-turn-4 { transition-delay: 0.375s; }
.appearing-turn-5 { transition-delay: 0.5s; }
.appearing-turn-6 { transition-delay: 0.675s; }
.appearing-turn-7 { transition-delay: 0.75s; }
.appearing-turn-8 { transition-delay: 0.875s; }
.appearing-turn-9 { transition-delay: 1s; }


@keyframes buttonAppearLeft {
  0% {
    opacity: 0;
    transform: scale(0.1) translateX(-6rem) translateY(6rem);
  }
  100% { opacity: 1; }
}

@keyframes buttonAppearRight {
  0% {
    opacity: 0;
    transform: scale(0.1) translateX(6rem)  translateY(6rem);
  }
  100% { opacity: 1; }
}

.enhanced-token {
  border-radius: 0.5rem;
  display: inline-block;
  font-weight: bold;
  padding: 0 0.25rem;
  transition: all 0.5s;
}

.enhanced-token:hover {
  background: rgba(203, 114, 255, 0.2);
}
